In [13]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
import getpass  
password = getpass.getpass()

········

In [15]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [17]:
query = """
SELECT 
    f.film_id,
    f.title,
    f.release_year,
    f.length,
    f.rating,
    f.special_features,
    r.rental_date IS NOT NULL AS rented_in_may
FROM 
    film f
LEFT JOIN 
    inventory i ON f.film_id = i.film_id
LEFT JOIN 
    rental r ON i.inventory_id = r.inventory_id AND MONTH(r.rental_date) = 5 AND YEAR(r.rental_date) = 2005
"""

# Read the data into a Pandas dataframe
df = pd.read_sql_query(query, engine)

display(df)

# Analyze and transform the extracted features (X)
categorical_features = ['rating', 'special_features']
numerical_features = ['release_year', 'length']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features)
    ])

X = preprocessor.fit_transform(df)

# Get the target variable (y)
y = df['rented_in_may']

# Create a logistic regression model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

# Evaluate the results
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)

print("Accuracy:", accuracy)
print("Confusion Matrix:")
print(confusion)

,film_id,title,release_year,length,rating,special_features,rented_in_may
0,1,ACADEMY DINOSAUR,2006,86,PG,"Deleted Scenes,Behind the Scenes",0
1,1,ACADEMY DINOSAUR,2006,86,PG,"Deleted Scenes,Behind the Scenes",1
2,1,ACADEMY DINOSAUR,2006,86,PG,"Deleted Scenes,Behind the Scenes",0
3,1,ACADEMY DINOSAUR,2006,86,PG,"Deleted Scenes,Behind the Scenes",0
4,1,ACADEMY DINOSAUR,2006,86,PG,"Deleted Scenes,Behind the Scenes",0
...,...,...,...,...,...,...,...
4618,1000,ZORRO ARK,2006,50,NC-17,"Trailers,Commentaries,Behind the Scenes",1
4619,1000,ZORRO ARK,2006,50,NC-17,"Trailers,Commentaries,Behind the Scenes",0
4620,1000,ZORRO ARK,2006,50,NC-17,"Trailers,Commentaries,Behind the Scenes",1
4621,1000,ZORRO ARK,2006,50,NC-17,"Trailers,Commentaries,Behind the Scenes",0
4622,1000,ZORRO ARK,2006,50,NC-17,"Trailers,Commentaries,Behind the Scenes",1

Accuracy: 0.7610810810810811
Confusion Matrix:
[[704   0]
 [221   0]]